li {
  text-align: center;
  display: flex;
  float: left;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

li a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: white;
  background-color: rgba(17, 17, 17, 0.5);
}

body {
  display: grid;
  margin: 0 auto;
  width: 95vw;
  grid-auto-rows: minmax(10vh, auto);
}




.logowrapper {
  display: flex;
  height: 10vh;
  width: auto;
  align-items: left;
  vertical-align: center;
}

.ctawrapper {
  width: auto;
  display: flex;
  margin: 0;
  align-items: center;
  vertical-align: center;
}

.cta {
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  letter-spacing: .03rem;
  font-size: 1.3rem;
  background-color: black;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
  background-color: rgba(0, 110, 255, 0.7)
}

.first {
  background-color: rgba(0, 255, 234, 0.7);
}

.foot {
  background-color: rgba(255, 0, 212, 0.7);
}

.second {
  background-color: rgba(0, 255, 106, 0.7);
}

.third {
  background-color: rgba(255, 0, 0, 0.897);
}

.fourth {
  background-color: rgba(255, 238, 0, 0.897);
}

.headcol {
  background-color: pink;
}



.festivaltext {
  display: block;
  margin-left: -3rem;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #1d1d1f;
}

.verticaltext {
  left: 2rem;
  position: relative;
  transform: rotate(-90deg);
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-size: 3.3rem;
}

.contourtext {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.mask span {
  display: block;
  box-sizing: border-box;
  top: 4vh;
  background-size: 100% 100%;
}

/*                              Layout Formatting                      */

/*        Column Layouts        */
.headcol {
  display: grid;
  width: auto;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.leftlarge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.rightlarge {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.onecol {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 10px;
}


/*        Row Settings         */
.row {
  display: flex;
  vertical-align: center;
  height: auto;
  min-height: 10vh;
  margin: 5px 0;
}

/*        Column Settings        */
.column {
  display: flex;
  width: auto;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, .2);
}

/*        Row Colours for Formatting - Delete Before submitting        */