
/*  Testing grid layout */

.logowrapper{
  grid-area: logo; 
  width: auto;
}
  
  .ctawrapper{
  grid-area: cta;
  }
  
  .leftbox{
    grid-area: leftbox;
  }

  .rightbox{
   grid-area: rightbox;
  }
  
  .herotext{
    grid-area: herotext;
  }
  
  .footer{
  grid-area: footer;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  }
  
  .container{
  display: grid;
  margin: 0 auto;
  height: auto;
  width: 95vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:repeat(auto);
  grid-template-areas:
  "logo logo . cta"
  " . herotext herotext . "
  "leftbox rightbox rightbox rightbox"
  "leftbox leftbox leftbox rightbox"
  "leftbox rightbox rightbox rightbox"
  "leftbox leftbox leftbox rightbox"
  "leftbox rightbox rightbox rightbox"
  "footer footer footer footer"
  }
  
.navbar {
  background-color: #F2294E;
  font-family: stolzl, sans-serif;
  font-size: 1.2em;
  box-shadow: 0 11px 10px 0 rgba(3,6,26,0.35);
  align-items: center;
  text-align: center;
  justify-items: center;
}

.navbar ul {
margin: 0 auto;
text-decoration: none;
align-items: center;
text-align: center;
justify-items: center;
}

.navbar ul li a{
margin: 0 auto;
align-items: center;
text-align: center;
justify-items: center;
text-decoration: none;
color: white;
}

.navbar ul li a:hover {
background-color: rgba(255, 255, 255, 0.4);
text-decoration: underline;
cursor: cell;
}

.logocontainer{
  margin: auto;
}

.logowrapper{
margin: 0 auto;
}

.squarelogo{
  margin: auto;
  max-height: 10vh;
  width: auto;
}

.widelogo {
  max-height: 10vh;
  width: auto;
  height: 10vh;
  margin: auto;
  left: 0;
}

.herotext {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.herotext h1{
  font-family: stolzl, sans-serif;
  color: #F2294E;
  font-size: 4rem;
}
.herotext h2{
  font-size: 2rem;
}
.herotext h3{
  color: #F2294E;
  font-size: 1.5rem;
}

.textbox span{
  display: block;
  box-sizing: border-box;
}

.festivaltext {
  font-weight: 700;
  font-size: 3rem;
  color: #F2294E;
}

.festivallink:hover{
  color: black;
  cursor: cell;
}

.verticaltext {
  transform: rotate(-90deg);
  font-weight: 700;
  font-size: 3.3rem;
  height: 10vw;
  color: #F2294E;
  margin: auto 0;
}

.contourtext {
  color: black;
  font-weight: 100;
  font-size: 3vw;
  padding-bottom: 10px;
}

.contourtext span:hover {
  font-weight: 400;
}

.contourmenu span{
  cursor: cell;
  display: block;
  box-sizing: border-box;
}

.pinkbox{
  background-color: #F2295F;
  color: white;
  border-radius: 5px;
}

header {
  width: 100%;
}

/*  Testing grid layout */

/*                              Layout Formatting                     


/* Setup grid - Width of site @ 95% 
.grid{
  box-sizing: border-box;
  display: grid;
  margin: 0 auto;
  width: 95vw;
  grid-auto-rows: minmax(10vh, auto);
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
}

footer{
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 95vw;
}

/*        Row Settings    
.row {
  display: flex;
  min-height: 10vh;
  height: auto;
  margin: 5px 0;
}

/*        Column Settings      
.column {
  display: flex;
}

/*        Column Layouts       
.leftlarge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.rightlarge {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.onecol {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
}
*/ 

/*        Row Colours for Formatting - Delete Before submitting     */    

.column {
  background-color: rgba(0, 0, 0, .2);
}

.logowrapper{
  background-color: pink;
}

.herotext{
  background-color: rgba(0, 110, 255,)
}

.first {
  background-color: rgba(0, 255, 234, 0.7);
}

.second {
  background-color: rgba(0, 255, 106, 0.7);
}

.third {
  background-color: rgba(255, 0, 0, 0.897);
}

.fourth {
  background-color: rgba(255, 238, 0, 0.897);
}

.foot {
  background-color: rgba(255, 0, 212, 0.7);
}

/* moved
.ctawrapper {
  width: auto;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
}

.cta {
  cursor: cell;
  font-size: 1.6em;
  color: #F2294E;
  text-decoration: none;
  letter-spacing: 1.5px;
  border: 2px solid #F2294E;
  border-radius: 100px;
  padding: .75em 1.5em;
  transition: .5s all ease-in-out;
}
 */
.cta:hover {
    cursor: cell;
    background-color: #F2294E;
    color: white;
    animation: none;
    animation-play-state: paused;
}

.button-pulse {
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 #F2294E;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
  }
}

  /* Changes Logo when on small screen */
 
  .image2{
    display: none;
  }
 
 @media only screen and (max-width: 650px){ 
    .image1{
      display: none;
    }
 
    .image2{
      display: flex;
    }
 }  