.menu span{
  cursor: cell;
  display: block;
  font-size: 2.5vw;
  padding: 10px 0;
  width: 100%;
  background-color: #F2294E;
  align-self: center;
  text-align: center;
  border-radius: 5px;
}

.menu span a{
padding: 5px 10.8vw;
color: white;
text-decoration: none;
cursor: cell;
}

/* Menu - Hover inverts colours */
.menu span a:hover {
  color: #F2294E;
  background-color: white;
  border-color: #F2294E;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px auto;
}

.logowrapper {
  margin-left: -30px;
  height: 10vh;
  width: auto;
  align-items: left;
  vertical-align: center;
}

.ctawrapper {
  margin: 0 auto;
  align-items: center;
 
}

.cta {
  background-color: #F2294E;
  color: white;
  padding: 10px;
  border-radius: 15px;
  cursor: cell;
  letter-spacing: 1px;
  font-size: 1.3rem;
  border-color: #F2294E;
  border: 2px;
  border-style: solid;
}

.cta:hover{
  color: #F2294E;
  background-color: white;
  border-color: #F2294E;
  border: 2px;
  border-style: solid;
}

.introtext{
  font-weight: 500;
  font-size: 1.5rem;
  color: #F2294E;
  align-self: center;
  text-align: center;
  margin: 0 auto;
}

.textbox {
  display: flex;
  padding: 10px 0;
}

.textbox span{
  display: block;
  box-sizing: border-box;
}

.festivaltext {
  padding: 10px 0;
  font-weight: 700;
  font-size: 3rem;
  color: #F2294E;
}
.festivallink:hover{
  color: black;
  cursor: cell;
}

.verticaltext {
  transform: rotate(-90deg);
  font-weight: 700;
  font-size: 3.3rem;
  height: 10vw;
  color: #F2294E;
  margin: auto 0;
}

.verticaltext:hover{
  color: black;
  cursor: cell;
}

.contourtext {
  color: black;
  font-weight: 100;
  font-size: 3vw;
  padding-bottom: 10px;
}
.contourtext span:hover {
  font-weight: 400;
}

.contourmenu span{
  padding: 2px 0;
  cursor: cell;
  display: block;
  box-sizing: border-box;
}

.pinkbox{
  background-color: #F2295F;
  color: white;
  border-radius: 5px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 95vw;
}


/*                              Layout Formatting                      */

/* Setup grid - Width of site @ 95%  */
.grid{
  display: grid;
  margin: 0 auto;
  margin-top: 20px;
  width: 95vw;
  grid-auto-rows: minmax(10vh, auto);
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
}

/*        Row Settings         */
.row {
  display: flex;
  min-height: 10vh;
  height: auto;
  margin: 5px 0;
}

/*        Column Settings        */
.column {
  display: flex;
}

/*        Column Layouts        */
.leftlarge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.rightlarge {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.onecol {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
}

.menu {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 10px;
}




/*        Row Colours for Formatting - Delete Before submitting       

column {
  background-color: rgba(0, 0, 0, .2);
}

header{
  background-color: pink;
}

nav{
  background-color: rgba(0, 110, 255, 0.7)
}

.first {
  background-color: rgba(0, 255, 234, 0.7);
}

.second {
  background-color: rgba(0, 255, 106, 0.7);
}

.third {
  background-color: rgba(255, 0, 0, 0.897);
}

.fourth {
  background-color: rgba(255, 238, 0, 0.897);
}

.foot {
  background-color: rgba(255, 0, 212, 0.7);
}
 */